@{
    ViewBag.Title = "Index";
}

<h2 id="title">Minesweeper</h2>

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }
</style>
<table class="tg" id="cell-nxp">
    <tr id="Row1">
        <th class="tg-031e" id="cell-1x1"></th>
        <th class="tg-031e" id="cell-1x2"></th>
        <th class="tg-031e" id="cell-1x3"></th>
        <th class="tg-031e" id="cell-1x4"></th>
        <th class="tg-031e" id="cell-1x5"></th>
        <th class="tg-031e" id="cell-1x6"></th>
        <th class="tg-031e" id="cell-1x7"></th>
        <th class="tg-031e" id="cell-1x8"></th>
    </tr>
    <tr id="Row2">
        <th class="tg-031e" id="cell-2x1"></th>
        <th class="tg-031e" id="cell-2x2"></th>
        <th class="tg-031e" id="cell-2x3"></th>
        <th class="tg-031e" id="cell-2x4"></th>
        <th class="tg-031e" id="cell-2x5"></th>
        <th class="tg-031e" id="cell-2x6"></th>
        <th class="tg-031e" id="cell-2x7"></th>
        <th class="tg-031e" id="cell-2x8"></th>
    </tr>
    <tr id="Row3">
        <th class="tg-031e" id="cell-3x1"></th>
        <th class="tg-031e" id="cell-3x2"></th>
        <th class="tg-031e" id="cell-3x3"></th>
        <th class="tg-031e" id="cell-3x4"></th>
        <th class="tg-031e" id="cell-3x5"></th>
        <th class="tg-031e" id="cell-3x6"></th>
        <th class="tg-031e" id="cell-3x7"></th>
        <th class="tg-031e" id="cell-3x8"></th>
    </tr>
    <tr
    <tr id="Row4">
        <th class="tg-031e" id="cell-4x1"></th>
        <th class="tg-031e" id="cell-4x2"></th>
        <th class="tg-031e" id="cell-4x3"></th>
        <th class="tg-031e" id="cell-4x4"></th>
        <th class="tg-031e" id="cell-4x5"></th>
        <th class="tg-031e" id="cell-4x6"></th>
        <th class="tg-031e" id="cell-4x7"></th>
        <th class="tg-031e" id="cell-4x8"></th>
    </tr>
    <tr
    <tr id="Row5">
        <th class="tg-031e" id="cell-5x1"></th>
        <th class="tg-031e" id="cell-5x2"></th>
        <th class="tg-031e" id="cell-5x3"></th>
        <th class="tg-031e" id="cell-5x4"></th>
        <th class="tg-031e" id="cell-5x5"></th>
        <th class="tg-031e" id="cell-5x6"></th>
        <th class="tg-031e" id="cell-5x7"></th>
        <th class="tg-031e" id="cell-5x8"></th>
    </tr>
    <tr id="Row6">
        <th class="tg-031e" id="cell-6x1"></th>
        <th class="tg-031e" id="cell-6x2"></th>
        <th class="tg-031e" id="cell-6x3"></th>
        <th class="tg-031e" id="cell-6x4"></th>
        <th class="tg-031e" id="cell-6x5"></th>
        <th class="tg-031e" id="cell-6x6"></th>
        <th class="tg-031e" id="cell-6x7"></th>
        <th class="tg-031e" id="cell-6x8"></th>
    </tr>
    <tr id="Row7">
        <th class="tg-031e" id="cell-7x1"></th>
        <th class="tg-031e" id="cell-7x2"></th>
        <th class="tg-031e" id="cell-7x3"></th>
        <th class="tg-031e" id="cell-7x4"></th>
        <th class="tg-031e" id="cell-7x5"></th>
        <th class="tg-031e" id="cell-7x6"></th>
        <th class="tg-031e" id="cell-7x7"></th>
        <th class="tg-031e" id="cell-7x8"></th>
    </tr>
    <tr id="Row8">
        <th class="tg-031e" id="cell-8x1"></th>
        <th class="tg-031e" id="cell-8x2"></th>
        <th class="tg-031e" id="cell-8x3"></th>
        <th class="tg-031e" id="cell-8x4"></th>
        <th class="tg-031e" id="cell-8x5"></th>
        <th class="tg-031e" id="cell-8x6"></th>
        <th class="tg-031e" id="cell-8x7"></th>
        <th class="tg-031e" id="cell-8x8"></th>
    </tr>
</table>
